@page
@model WeiXinOA.Pages.Admin.Account.IndexModel
@{
}

<fieldset class="layui-elem-field layui-field-title">
    <legend>登录账号列表</legend>
</fieldset>

<div asp-validation-summary="ModelOnly" class="layui-bg-red"></div>

<table class="layui-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>账号名</th>
            <th>角色</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model.UserList)
        {
            <tr>
                <td>@u.Id</td>
                <td>@u.LoginName</td>
                <td>@u.RoleName</td>
                <td>
                    <a asp-page="/Admin/Account/Edit" asp-route-id="@u.Id">编辑</a>
                </td>
            </tr>
        }
    </tbody>
</table>