@page
@model WeiXinOA.Pages.AccessDeniedModel
@{
    Layout = null;
}


<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>拒绝访问</legend>
</fieldset>

<h1 style="color:red">
    权限不足，拒绝访问！
</h1>

<div style="margin-top:100px;">
    <a class="layui-btn" href="/Admin/Index">返回首页</a>
</div>